@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* BACK GROUND */
  .bg-img {
    background: url(../public/asset/image/background.jpg) center repeat;
    background-size: contain;
  }
  /* BORDER SCREEN */
  .border-screen {
    @apply border-y;
    border-color: white;
    @apply max-md:border-none;
  }
  /* POSITION */
  .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fixed-header {
    position: fixed;
    top: 0;
  }
  .fixed-content {
    position: fixed;
    @apply translate-x-[-50%];
    @apply translate-y-[-50%];
  }
  .absolute-content {
    position: absolute;
    @apply translate-x-[-50%];
    @apply translate-y-[-50%];
  }
  .cursor-style {
    mix-blend-mode: difference;
    @apply pointer-events-none;
    @apply p-0;
    @apply z-50;
    @apply fixed;
    transform: translate(-50%, -50%);
    transition-property: width, height, border-radius;
    transition-duration: 0.5s;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blinking-cursor:after {
    content: "_";
    @apply text-[#ffffff];
    animation: blink 1s infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .slide {
    animation: slide 30s linear infinite;
  }
  .slide:hover {
    animation-play-state: paused;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 10));
    }
  }
  /* TEXT TYPE FOR #FFFFFFF */
  .text-shadow-theme {
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
  }
  .text-white-7xl {
    @apply text-white;
    @apply text-7xl;
    @apply max-lg:text-6xl;
    @apply max-md:text-5xl;
  }
  .text-white-6xl {
    @apply text-white;
    @apply text-6xl;
    @apply max-lg:text-5xl;
    @apply max-md:text-4xl;
  }
  .text-white-5xl {
    @apply text-white;
    @apply text-5xl;
    @apply max-lg:text-4xl;
    @apply max-md:text-3xl;
  }
  .text-white-4xl {
    @apply text-white;
    @apply text-4xl;
    @apply max-lg:text-3xl;
    @apply max-md:text-2xl;
  }
  .text-white-3xl {
    @apply text-white;
    @apply text-3xl;
    @apply max-lg:text-2xl;
    @apply max-md:text-xl;
  }
  .text-white-2xl {
    @apply text-white;
    @apply text-2xl;
    @apply max-lg:text-xl;
    @apply max-md:text-lg;
  }
  .text-white-xl {
    @apply text-white;
    @apply text-xl;
    @apply max-lg:text-lg;
    @apply max-md:text-base;
  }
  .text-white-lg {
    @apply text-white;
    @apply text-lg;
    @apply max-lg:text-base;
    @apply max-md:text-sm;
  }
  .text-white-base {
    @apply text-white;
    @apply text-base;
    @apply max-lg:text-sm;
    @apply max-md:text-xs;
  }
  .text-white-sm {
    @apply text-white;
    @apply text-sm;
    @apply max-lg:text-xs;
  }
  .text-white-xs {
    @apply text-white;
    @apply text-xs;
  }
  .text-black-7xl{
    @apply text-[#121212];
    @apply text-7xl;
    @apply max-lg:text-6xl;
    @apply max-md:text-5xl;
  }
  .text-black-xl {
    @apply text-[#121212];
    @apply text-xl;
    @apply max-lg:text-lg;
    @apply max-md:text-base;
  }
}
* {
  cursor: none !important;
}
body {
  @apply bg-gradient-to-br;
  @apply from-bg-color1;
  @apply to-bg-color2;
}
input {
  outline: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: red;
  transform-origin: 0%;
}
