@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* BORDER SCREEN */
  .border-screen {
    @apply border-y;
    border-color: white;
    @apply max-md:border-none;
  }
  /* POSITION */
  .fixed-header {
    position: fixed;
    top: 0;
  }
  .fixed-content {
    position: fixed;
    transform: translate(-50%, -50%);
  }
  .absoulte-content {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .cursor-style {
    mix-blend-mode: difference;
    @apply pointer-events-none;
    @apply p-0;
    @apply z-50;
    @apply fixed;
    transform: translate(-50%, -50%);
    transition-property: width, height, border-radius;
    transition-duration: 0.5s;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blinking-cursor:after {
    content: "_";
    @apply text-[#ffffff];
    animation: blink 1s infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  /* TEXT TYPE FOR #FFFFFFF */
  .text-shadow-theme {
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 1);
  }
  .text-white-7xl {
    @apply text-white;
    @apply text-7xl;
    @apply max-lg:text-6xl;
  }
  .text-white-6xl {
    @apply text-white;
    @apply text-6xl;
    @apply max-lg:text-5xl;
  }
  .text-white-5xl {
    @apply text-white;
    @apply text-5xl;
    @apply max-lg:text-4xl;
  }
  .text-white-4xl {
    @apply text-white;
    @apply text-4xl;
    @apply max-lg:text-3xl;
  }
  .text-white-3xl {
    @apply text-white;
    @apply text-3xl;
    @apply max-lg:text-2xl;
  }
  .text-white-2xl {
    @apply text-white;
    @apply text-2xl;
    @apply max-lg:text-xl;
  }
  .text-white-xl {
    @apply text-white;
    @apply text-xl;
    @apply max-lg:text-lg;
  }
  .text-white-max-lg {
    @apply text-white;
    @apply text-max-lg;
    @apply max-lg:text-base;
  }
  .text-white-base {
    @apply text-white;
    @apply text-base;
    @apply max-lg:text-sm;
  }
  .text-white-sm {
    @apply text-white;
    @apply text-sm;
    @apply max-lg:text-xs;
  }
  .text-white-xs {
    @apply text-white;
    @apply text-xs;
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/
* {
  cursor: none !important;
}
body {
  @apply bg-gradient-to-br;
  @apply from-bg-color1;
  @apply to-bg-color2;
}
input {
  outline: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: red;
  transform-origin: 0%;
}
